/********** Template CSS **********/
:root {
    /* --primary: #806449 ; */
    --primary: #806449 ;
    --light: #F8F8F8;
    --dark: #252525;
}

h1,
h2,
.h1,
.h2,
.fw-bold {
    font-weight: 600 !important;
}

h3,
h4,
.h3,
.h4,
.fw-medium {
    font-weight: 500 !important;
}

h5,
h6,
.h5,
.h6,
.fw-normal {
    font-weight: 400 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-outline-body {
    color: var(--primary);
    border-color: #777777;
}

.btn-outline-body:hover {
    color: #FFFFFF;
    background: var(--primary);
    border-color: var(--primary);
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 30px 0;
    color: var(--dark);
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-dots {
    position: absolute;
    width: 60px;
    height: 100%;
    top: 0;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dots .owl-dot {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 5px 0;
    background: var(--dark);
    transition: .5s;
}

.header-carousel .owl-dots .owl-dot.active {
    width: 60px;
    height: 60px;
}

.header-carousel .owl-dots .owl-dot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px;
    transition: .5s;
    opacity: .3;
}

.header-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

/*Header indutech */

.navbar .dropdown {
  position: relative;
}

.expand-btn:after {
  content: " \25BE";
  opacity: 0.4;
  margin-left: 5px;
}

.navbar .dropdown-menu,
.menu-right {
  position: absolute;
  background: #e9ecef;
  width: 190px;
  line-height: 30px;
  border-radius: 0 0 5px 5px;
  top: 65px;
  border-top: 1px solid white;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
}

.navbar .menu-right {
  top: 0;
  left: 100%;
}

.navbar .dropdown-menu,
.menu-left {
  left: unset;
  right: 0;
}

.navbar .menu-left {
  left: -100%;
}

.navbar .menu-item {
  display: flex;
  justify-content: space-between;
  /* color: (var(--primary)); */
  width: 100%;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
}

.navbar .menu-item:hover {
  color: black;
}

.menu-item.first-item {
  padding: 1.5rem 1rem;
}

.navbar .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown-right:hover .menu-right {
  left: 100%;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 991.98px) {
  .navbar .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: none;
    box-shadow: none;
  }

  .navbar .dropdown-menu .dropdown-menu {
    position: static;
    float: none;
  }

  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu {
    opacity: 1;
    visibility: visible;
  }

  .navbar .menu-right {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: none;
    box-shadow: none;
  }

  .navbar .dropdown-right:hover .menu-right {
    position: static;
    float: none;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

*::-webkit-scrollbar {
  width: 0;
}

nav.nav {
  display: flex;
  align-items: center;
  padding: 15px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

.nav__mobile_menu {
  display: none;
  position: fixed;
  inset: 0;
  background: #fff;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 10;

  .nav__list {
    flex-direction: column;
  }

  li a {
    display: block;
    padding: 2rem;

    &:hover {
      background: #5231;
    }
  }

  .menu__closed {
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    border: 0;
    background: none;
    cursor: pointer;
    color: #523a;
  }
}

.nav__title {
  flex: 2;
  a {
    color: #523;
    text-decoration: none;
  }
}

.nav__bar {
  border: none;
  background: #fff;
  padding: 1rem;
  display: none;
  color: #523;
  font-size: 20px;
  cursor: pointer;
}

.nav__list,
.nav__user-info {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    color: #555;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}
.nav__list {
  flex: 8;
  gap: 0 1.5rem;
}
.nav__user-info {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 25px;

  img.nav__user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.main__goods {
  display: flex;
  grid-gap: 3rem;
  padding: 3rem;
  box-shadow: 0 1px 0 0px rgba(0, 0, 0, 0.12);
}

.goods__photos {
  display: flex;
  flex-direction: column;
}
.goods__main_preview {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 0.6rem;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.goods__photo_list {
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  li {
    display: inline-block;
  }
  img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 0.6rem;
  }
}

.goods__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goods__company {
  color: #523;
  margin: 0.5rem 0;
}
.goods__title {
  font-size: 2rem;
  margin: 0;
}
.goods__description {
  margin: 2rem 0;
  line-height: 1.3;
}
.goods__sale__price {
  display: inline-block;
  margin: 0 0.6rem 0 0;
}
.goods__discount {
  color: #523;
  background: #dcd;
  padding: 0.1rem 0.5rem;
  border-radius: 0.1rem;
}
.goods__original__price {
  color: #999;
  text-decoration: line-through;
  margin: 0.6rem 0;
}

.main__related {
  margin: 2rem 0;
}

.related__title {
  color: #523;
  margin: 0 0 1.5rem;
}

.related__prev_next {
  display: none;
}
.related__prev_next .related__prev,
.related__prev_next .related__next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 25px;
  background: none;
  border: none;
  padding: 1rem 1.5rem;
  color: #412;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    color: #000;
    background: #0001;
  }
}
.related__prev_next .related__next {
  right: 0;
  left: auto;
}

.related__goods_viewpoint {
  position: relative;
}

.related__goods {
  list-style: none;
  display: flex;
  gap: 0 2rem;
  padding: 0;
  margin: 0;
  overflow: scroll;
  transition: 0.3s all;
  margin-left: 0vw;

  li {
    flex: 1;
  }
  img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 0.2rem;
  }
}

img:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 752px) {
  .container {
    width: 100%;
  }

  .nav .nav__list {
    display: none;
  }

  .nav__user-info {
    justify-content: flex-end;
    gap: 0 1.5rem;
  }

  .nav__bar {
    display: inline-block;
  }

  .nav__mobile_menu {
    display: block;
    max-height: 0;
  }

  .main__goods {
    padding: 0;
  }

  .goods__main_preview {
    border-radius: 0;
  }

  .goods__photo_list {
    display: none;
  }

  .goods__details {
    padding: 0 2rem 2rem;
  }

  .related__title {
    margin-left: 2rem;
  }

  .related__goods {
    gap: 0;
    margin-left: 0vw;

    img {
      width: 100vw;
      height: 300px;
      border-radius: 0;
    }
  }

  .related__prev_next {
    display: inline-block;
  }
}

@media screen and (max-width: 862px) {
  .main__goods {
    flex-direction: column;
  }
}

























/*** Section Title ***/

.section-title {
    color: var(--primary);
    font-weight: 600;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.section-Slider-title {
  color: var(--primary);
  font-weight: 900;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.section-solutionFor-title {
  color: var(--primary);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}


/*** Facts ***/
.fact-item .fact-icon {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 120px;
    transition: .5s;
}

.fact-item:hover .fact-icon {
    background: var(--dark);
}

.fact-item .fact-icon i {
    color: var(--primary);
    transition: .5;
}

.fact-item:hover .fact-icon i {
    color: #FFFFFF;
}


/*** About & Feature ***/
/* .about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
} */


/*** Service ***/
.service-item .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.service-item .service-text {
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-text {
    background: rgba(0, 0, 0, .7);
}

.service-item * {
    transition: .5;
}

.service-item:hover * {
    color: #FFFFFF;
}

.service-item .btn {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    color: var(--dark);
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    transition: .5s;
}

.service-item:hover .btn {
    width: 140px;
}


/*** Project ***/
.project .nav .nav-link {
    background: var(--light);
    transition: .5s;
}

.project .nav .nav-link.active {
    background: var(--primary);
}

.project .nav .nav-link.active h3 {
    color: #FFFFFF !important;
}


/*** Team ***/
.team-items {
    margin: -.75rem;
}

.team-item {
    padding: .75rem;
}

.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transition: .5s;
    z-index: -1;
}

.team-item:hover::after {
    height: 100%;
    background: var(--primary);
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 0;
}

.team-item .team-social .btn {
    display: inline-flex;
    margin: 0 2px;
    color: var(--primary);
    background: var(--light);
}

.team-item .team-social .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Appointment ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #FFFFFF;
    border-radius: 40px;
    transition: .5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    opacity: .4;
    transition: .5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}


/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #777777;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: #777777;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}



/* Header Design */

.navbar-collapse ul,
.social-icon ul {
    display: flex;
    flex-wrap: wrap;
}

.navbar-collapse ul li,
.social-icon ul li {
    list-style: none;
}

.navbar-collapse ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: jost;
    font-size: 14px;
    font-weight: 600;
    color: #939ca1;
    padding: 30px 20px;
    display: block;
    transition: all 0.5s;
}


.social-icon ul li a {
    color: #939ca1;
    padding: 30px 10px;
    display: block;
}

.card-title-border,
.card-sub-title-border {
    padding: 10px 0;
    border-bottom: 3px solid #806449 ;
    border-top: 3px solid #806449 ;
}

.card-sub-title-border {
    border-top: none !important;
}

.card-img-top {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.card-box-shadow {
    box-shadow: 0px 0px 10px 0px #806449 ;
    border-radius: 8px;
}

.card-sub-title {
    border-left: 10px solid #806449 ;
    margin-top: 25px;
    margin-bottom: 10px;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* 
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --boxSize: 1em;
    --speed: 18s;
    --rotateSceneX: -0deg;
    --rotateSceneY: 0deg;
}

.imageSlider {
    font-family: 'Berkshire Swash', cursive;
    background-color: #aaa;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    perspective: 100em;
    overflow: hidden;
}

.cell {
    width: 100%;
    height: 100%;
}

.cell:nth-child(10n + 1):hover ~ .scene { --rotateSceneY: -63deg; }
.cell:nth-child(10n + 2):hover ~ .scene { --rotateSceneY: -49deg; }
.cell:nth-child(10n + 3):hover ~ .scene { --rotateSceneY: -35deg; }
.cell:nth-child(10n + 4):hover ~ .scene { --rotateSceneY: -21deg; }
.cell:nth-child(10n + 5):hover ~ .scene { --rotateSceneY: -7deg; }
.cell:nth-child(10n + 6):hover ~ .scene { --rotateSceneY: 7deg; }
.cell:nth-child(10n + 7):hover ~ .scene { --rotateSceneY: 21deg; }
.cell:nth-child(10n + 8):hover ~ .scene { --rotateSceneY: 35deg; }
.cell:nth-child(10n + 9):hover ~ .scene { --rotateSceneY: 49deg; }
.cell:nth-child(10n + 10):hover ~ .scene { --rotateSceneY: 63deg; }

.cell:nth-child(n + 1):nth-child(-n + 10):hover ~ .scene { --rotateSceneX: 36deg; }
.cell:nth-child(n + 11):nth-child(-n + 20):hover ~ .scene { --rotateSceneX: 28deg; }
.cell:nth-child(n + 21):nth-child(-n + 30):hover ~ .scene { --rotateSceneX: 20deg; }
.cell:nth-child(n + 31):nth-child(-n + 40):hover ~ .scene { --rotateSceneX: 12deg; }
.cell:nth-child(n + 41):nth-child(-n + 50):hover ~ .scene { --rotateSceneX: 4deg; }
.cell:nth-child(n + 51):nth-child(-n + 60):hover ~ .scene { --rotateSceneX: -4deg; }
.cell:nth-child(n + 61):nth-child(-n + 70):hover ~ .scene { --rotateSceneX: -12deg; }
.cell:nth-child(n + 71):nth-child(-n + 80):hover ~ .scene { --rotateSceneX: -20deg; }
.cell:nth-child(n + 81):nth-child(-n + 90):hover ~ .scene { --rotateSceneX: -28deg; }
.cell:nth-child(n + 91):nth-child(-n + 100):hover ~ .scene { --rotateSceneX: -36deg; }

.scene {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translateZ(-0em) rotateX(var(--rotateSceneX)) rotateY(var(--rotateSceneY));
    transition: transform 0.5s;
    z-index: -1;
}

.sign {
    position: absolute;
    top: -14.25em;
    left: -26em;
    width: 52em;
    height: 28.5em;
    background-color: #333;
    transform-style: preserve-3d;
}

.sign_front {
    width: 100%;
    height: 100%;
    transform: translateZ(2em);
    background-image: linear-gradient(0deg, #544 2em, transparent 2em),
                      linear-gradient(90deg, #544 2em, transparent 2em),
                      linear-gradient(180deg, #544 2em, transparent 2em),
                      linear-gradient(270deg, #544 2em, transparent 2em);
}

.sign_topIn,
.sign_topOut {
    position: absolute;
    height: 2em;
    background-color: #7b6262;
    transform-origin: top;
    transform: rotateX(90deg);
}

.sign_topIn {
    bottom: 0;
    left: 2em;
    width: calc(100% - 4em);
}

.sign_topOut {
    top: 0;
    left: 0;
    width: 100%;
}

.sign_bottomIn,
.sign_bottomOut {
    position: absolute;
    height: 2em;
    background-color: #3c3c3c;
    transform-origin: bottom;
    transform: rotateX(-90deg);
}

.sign_bottomIn {
    top: 0;
    left: 2em;
    width: calc(100% - 4em);
}

.sign_bottomOut {
    bottom: 0;
    left: 0;
    width: 100%;
}

.sign_leftIn,
.sign_leftOut {
    position: absolute;
    width: 2em;
    background-color: #4b4b4b;
    transform-origin: left;
    transform: rotateY(-90deg);
}

.sign_leftIn {
    top: 2em;
    right: 0;
    height: calc(100% - 4em);
}

.sign_leftOut {
    top: 0;
    left: 0;
    height: 100%;
}

.sign_rightIn,
.sign_rightOut {
    position: absolute;
    width: 2em;
    background-color: #474747;
    transform-origin: right;
    transform: rotateY(90deg);
}

.sign_rightIn {
    top: 2em;
    left: 0;
    height: calc(100% - 4em);
}

.sign_rightOut {
    top: 0;
    right: 0;
    height: 100%;
}

.sign_segment {
    position: absolute;
    top: 2em;
    width: 2em;
    height: 24.5em;
    transform: translateX(-50%) translateZ(1em);
    transform-style: preserve-3d;
}

.sign_segment:nth-child(1) { left: 3em; --ad: 0; }
.sign_segment:nth-child(2) { left: 5em; --ad: 1; }
.sign_segment:nth-child(3) { left: 7em; --ad: 2; }
.sign_segment:nth-child(4) { left: 9em; --ad: 3; }
.sign_segment:nth-child(5) { left: 11em; --ad: 4; }
.sign_segment:nth-child(6) { left: 13em; --ad: 5; }
.sign_segment:nth-child(7) { left: 15em; --ad: 6; }
.sign_segment:nth-child(8) { left: 17em; --ad: 7; }
.sign_segment:nth-child(9) { left: 19em; --ad: 8; }
.sign_segment:nth-child(10) { left: 21em; --ad: 9; }
.sign_segment:nth-child(11) { left: 23em; --ad: 10; }
.sign_segment:nth-child(12) { left: 25em; --ad: 11; }
.sign_segment:nth-child(13) { left: 27em; --ad: 12; }
.sign_segment:nth-child(14) { left: 29em; --ad: 13; }
.sign_segment:nth-child(15) { left: 31em; --ad: 14; }
.sign_segment:nth-child(16) { left: 33em; --ad: 15; }
.sign_segment:nth-child(17) { left: 35em; --ad: 16; }
.sign_segment:nth-child(18) { left: 37em; --ad: 17; }
.sign_segment:nth-child(19) { left: 39em; --ad: 18; }
.sign_segment:nth-child(20) { left: 41em; --ad: 19; }
.sign_segment:nth-child(21) { left: 43em; --ad: 20; }
.sign_segment:nth-child(22) { left: 45em; --ad: 21; }
.sign_segment:nth-child(23) { left: 47em; --ad: 22; }
.sign_segment:nth-child(24) { left: 49em; --ad: 23; }

.sign_segment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5em;
    width: 1em;
    height: 100%;
    background-image: linear-gradient(90deg, #333, #aaa, #333);
    transform: rotateY(calc(var(--rotateSceneY) * -1));
}

.sign_segment > div {
    position: absolute;
    top: 0.25em;
    left: 0.05em;
    width: 1.9em;
    height: 24em;
    animation: signflip var(--speed) cubic-bezier(.5, 0, .7, 1.5) infinite;
    overflow: hidden;
    background-position: calc(var(--ad) / 23 * 100%) 50%;
    background-size: 48em 24em;
    text-align: center;
}

.sign_segment > div:nth-child(1) {
    background-image: url('https://assets.codepen.io/1948355/trivision1.jpg');
    animation-delay: calc((var(--speed) * 0 / -3) - var(--speed) + (var(--ad) * 0.1s));
    box-shadow: 0 0 1em #0007 inset;
}

.sign_segment > div:nth-child(2) {
    background-image: url('https://assets.codepen.io/1948355/trivision2.jpg');
    animation-delay: calc((var(--speed) * 1 / -3) - var(--speed) + (var(--ad) * 0.1s));
    box-shadow: 0 0 1em #0007 inset;
}

.sign_segment > div:nth-child(3) {
    background-image: url('https://assets.codepen.io/1948355/trivision3.jpg');
    animation-delay: calc((var(--speed) * 2 / -3) - var(--speed) + (var(--ad) * 0.1s));
    box-shadow: 0 0 1em #0007 inset;
}

.sign_segment > div:nth-child(4) {
    background-image: url('https://assets.codepen.io/1948355/trivision4.jpg');
    animation-delay: calc((var(--speed) * 3 / -3) - var(--speed) + (var(--ad) * 0.1s));
    box-shadow: 0 0 1em #0007 inset;
}

.sign_segment > div:nth-child(1)::after,
.sign_segment > div:nth-child(2)::after,
.sign_segment > div:nth-child(3)::after,
.sign_segment > div:nth-child(4)::after {
    background-image: inherit;
}

.sign_segment > div:nth-child(1)::after {
    content: "DREAM";
    position: absolute;
    top: 0;
    left: calc(var(--ad) * -0.2em);
    font-size: 10em;
    width: 4.8em;
    height: 2.4em;
    padding-top: 0.6em;
    background-size: 4.8em 2.4em;
    filter: drop-shadow(0 0 0.1em #fff) drop-shadow(0 0 0.5em #00f);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sign_segment > div:nth-child(2)::after {
    content: "LOVE";
    position: absolute;
    top: 0.8em;
    left: calc(var(--ad) * -0.2em);
    font-size: 10em;
    width: 3.4em;
    filter: drop-shadow(0 0 0.1em #000);
    background-size: 5.2em 2.6em;
    background-position: right top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.sign_segment > div:nth-child(3)::after {
    content: "HOPE";
    position: absolute;
    top: 0;
    left: calc(var(--ad) * -0.25em);
    font-size: 8em;
    width: 6em;
    height: 3em;
    padding: 1.5em 0 0 2.1em;
    background-image: url('https://assets.codepen.io/1948355/trivision4.jpg');
    background-size: 100%;
    filter: drop-shadow(-0.025em 0.025em 0.05em #fff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes signflip {
    0%, 26.666% { transform: rotateY(0deg) translateZ(0.53em); }
    33.333%, 60% { transform: rotateY(120deg) translateZ(0.53em); }
    66.666%, 93.333% { transform: rotateY(240deg) translateZ(0.53em); }
    100% { transform: rotateY(360deg) translateZ(0.53em); }
}

.shadow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65em;
    height: 36em;
    transform: translate(-50%, -50%) translateZ(-20em);
    background-color: #0003;
    filter: blur(3em);
} */
.aboutus .col-lg-8 {
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5); /* optional: to add a white overlay with some opacity */
  padding: 20px;
  border-radius: 10px;
}

.background-image {
  position: absolute;
  top: 1100px;
  left: 100px;
  width: 70%;
  height: 70%;
  z-index: 0;
  overflow: hidden;
}

.background-image img {
  width: 60%;
  height: auto;
  position: absolute;
  top: -40px;
  left: 400px;
  filter: opacity(50%);
}

@media (max-width:1200px) {
  .background-image {
    top: 800px;
    left: 100px;
  }
  .background-image img {
    top: 13px;
    left: 60px;
    width: 70%;
    height: 70%;
  }
}
@media (min-width:993px) and (max-width:1140px) {
  .background-image {
    top: 100;
    left: 100px;
  }
}

@media (max-width:992px) {
  .background-image {
    top: 2500;
  }
  
}
@media (min-width:769px) and (max-width:960px) {
  /* its complete */
  .background-image {
    top: 800px;
    left: 100px;
  }
  .background-image img {
    top: 13px;
    left: 60px;
  }
}
@media (max-width:768px) {
  .background-image {
    top: 800px;
    left: 100px;
  }
  .background-image img {
    top: 13px;
    left: 60px;
    width: 70%;
    height: 70%;
  }
    .about-img img{
        width: 300px;
    }
}
@media (min-width:577px) and (max-width:720px) {
  .background-image {
    top: 800px;
    left: 100px;
  }
  .background-image img {
    top: 13px;
    left: 60px;
    width: 70%;
    height: 50%;
  }
    .about-img img{
        width: 300px;
        
    }
}
@media (max-width:576px) {
    .about-img img{
        width: 300px;

    }
}

